.accelerated{
    font-family: Metropolis,sans-serif;
    text-align:center;
    color: #0d2149;
    background-color: #f1f4f8;
    padding:70px 20px;
    
}
.company{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 67%;
    margin:60px auto;
}
.line{
    font-size: 20px;
    color: #0d2149;
    letter-spacing: .07rem;
}
.company img{
    height: 100%;
}

